*{
    margin: 0;
    padding: 0;
    /* background-color:rgba(19,18,21,255); */

}
nav{
    background-color:cadetblue;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: sticky;
    top: 0;
}
nav ul{
    background-color:none;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 5;
    position: fixed;
    height: 100%;
    overflow: auto;
    right: 0;

}
nav ul li a{
    display: block;
    justify-content: space-between;
    padding: 35px;
    /* margin: 10px; */
    color:white;
    text-decoration: none;
    font-size:20px;
    height: 100%;
    margin-right: 20px;
}
.navbar i{
    font-size: xx-large;
}
nav ul li a:hover{
    color:greenyellow;
}
.pic img{
    width: 1000px;
    height:700px;
    background-color:rgba(19,18,21,255);
}
#home{
    margin-top: 0px;
    background-color:rgba(19,18,21,255);
    height: 750px;
    display:flex;
    flex-direction: column;
}
.overlay{
    background-color:rgba(19, 18, 21, 0) ;
     font-size:xxx-large;
     position: absolute;
     top:45% ;
     left: 56%;
}
.overlay p{
    color: white;
}
h2{
    color: white;
    text-align: center;
}
h2:hover{
    letter-spacing: 5px;
    transition: all 1s;
}
.abt p{
    /* margin: 100px; */
   margin-left: 80px;
   margin-top: 20px;
   margin-right: 200px;
    text-align: justify;
    font-size: 25px;
}
.boxes{
    border: 2px solid none;
    border-radius: 80px;
    margin-left: 50px;
    margin-right: 10%;
   
    background: linear-gradient(to top,rgba(19, 18, 21, 0),white);
    background-size: 100% 200%;
    transition: all 1s;
}
.boxes:hover{
    background-position: bottom;
    border: none;
    box-shadow: 3px 4px 5px 6px gr;
    color: white;
}
.pict{
    display: flex;
}
.pict img{
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 300px 200px 400px 400px;
}
#about{
    height: 700px;
    background-color:rgba(19,18,21,255);
}
#about h2{
    text-align: center;
    font-size: xxx-large;
    color: white;
    padding: 30px;
}
.alp{
    color: red;
}
.bl{
    color: rgb(45, 45, 238);
}
.red{
    color: red;
}
.yel{
    color: yellow;
}
.gr{
    color: rgb(33, 202, 33);
}
.btn{
    background-color:greenyellow;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 40px;
    border: none;
}
.btn a{
    text-decoration: none;
    font-size:larger;
    background-color:greenyellow;
    color: white;
}
#awards{
    height: 940px;
    background-color:rgba(19,18,21,255);
}
#awards h2{
    text-align: center;
    font-size: xxx-large;
    /* margin: 30px; */
    padding: 30px;
    color: white;
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.box{
    width: 200px;
    height: 300px;
    margin: 10px;
}
.box:hover{
    border: 2px solid none;
    border-radius: 10px;
    width: 240px;
    transition:width 1s;
    box-shadow: 3px 4px 5px 6px greenyellow;
}
.box i{
    color:greenyellow;
   text-align: center;
   margin: 20px;
   display: block;
   font-size: 55px;
}
.box h3{
    color:white;
    text-align: center;
    font-size: 30px;
}
.box p{
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}
.row1{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.row2{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.btn2{
    margin-left: 40%;
}
#career{
    background-color: rgba(19,18,21,255);
   
}
#companies{
height: 650px;
background-color: rgba(19,18,21,255);
}
#companies h2{
    font-size: xxx-large;
    padding: 30px;
}
.comp{
    display: flex;
    height: 700px;
}
.container{
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.container h3{
    font-size: 30px;
    padding: 10px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp img{
    height: 300px;
    width: 350px;
    position: absolute;
    z-index: 1;
    box-shadow: 1px 1px 4px gray;
    border-radius: 3px;
    transition: transform .5s;
}
.card:hover img{
    transform: translateY(130px);
}
.back{
    position: relative;
    height:350px ;
    width: 400px;
    padding: 25px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 8px gray; */
    box-sizing: border-box;
    text-align: center;
    transition: all .5s;
}
.card:hover .back{
    height:400px ;
    color: greenyellow;
    box-shadow: 2px 2px 8px gray;
}
#contact{
    background-color: rgba(19,18,21,255);
    height: 300px;
}
#contact h2{
    font-size: xxx-large;
    padding: 30px;
}
.con{
    display: flex;
    align-items: center;
    justify-content:center
}
.con img{
    width: 50px;
    height: 50px;
  padding:10px;
}
